<div class="container coasters-index">
  <h1 style="font-weight: 100">{{coaster.name}}</h1>

  <h4>Descripción</h4>
<a href="/coasters/{{coaster._id}}/edit" class="btn btn-dark">Editar</a>
  <p>{{coaster.description}}</p>
  <p><strong>Longitud: </strong> {{coaster.length}} | <strong>Inversiones: </strong> {{coaster.inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: {{coaster.park.name}}</p>
  <p><strong>Descripción</strong>: {{coaster.park.description}}</p>

  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>